<div class="container mt-5">
  <form class="border p-4 rounded shadow-sm w-100 mx-auto" style="max-width: 500px;" [formGroup]="editCustomerFormGroup" (ngSubmit)="handleUpdateCustomer()">
    <h4 class="mb-4 text-center">Modifier un Client</h4>

    <!-- Champ pour le nom -->
    <input type="text" class="form-control mb-3" placeholder="Nom" formControlName="name" required>
    <span class="text-danger" *ngIf="editCustomerFormGroup.controls['name']?.touched && editCustomerFormGroup.controls['name']?.errors?.['required']">
      Name is required
    </span>
    <span class="text-danger" *ngIf="editCustomerFormGroup.controls['name']?.touched && editCustomerFormGroup.controls['name']?.errors?.['minlength']">
      Name must be at least 4 characters long
    </span>

    <!-- Champ pour l'email -->
    <input type="email" class="form-control mb-3" placeholder="Email" formControlName="email" required>
    <span class="text-danger" *ngIf="editCustomerFormGroup.controls['email']?.touched && editCustomerFormGroup.controls['email']?.errors?.['email']">
      Email is not valid
    </span>

    <!-- Bouton de soumission -->
    <button [disabled]="!editCustomerFormGroup.valid" type="submit" class="btn btn-primary w-100">
      <i class="bi bi-save me-2"></i>
      Mettre à jour
    </button>
  </form>
</div>
